---

- name: Ensure mobilizon paths exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: 0750
    owner: "{{ mobilizon_uid }}"
    group: "{{ mobilizon_gid }}"
  with_items:
    - "{{ mobilizon_base_path }}"
    - "{{ mobilizon_data_path }}"
    - "{{ mobilizon_uploads_path }}"
    - "{{ mobilizon_config_path }}"

- name: Ensure mobilizon support files installed
  ansible.builtin.template:
    src: "{{ role_path }}/templates/{{ item }}.j2"
    dest: "{{ mobilizon_base_path }}/{{ item }}"
    mode: 0640
    owner: "{{ mobilizon_uid }}"
    group: "{{ mobilizon_gid }}"
  with_items:
    - env
    - labels

- name: Ensure mobilizon container image is pulled
  community.docker.docker_image:
    name: "{{ mobilizon_container_image }}"
    source: "{{ 'pull' if ansible_version.major > 2 or ansible_version.minor > 7 else omit }}"
    force_source: "{{ mobilizon_container_image_force_pull if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
    force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else mobilizon_container_image_force_pull }}"
  register: result
  retries: "{{ devture_playbook_help_container_retries_count }}"
  delay: "{{ devture_playbook_help_container_retries_delay }}"
  until: result is not failed

- name: Ensure mobilizon container network is created
  community.general.docker_network:
    name: "{{ mobilizon_container_network }}"
    driver: bridge

- name: Ensure mobilizon systemd service is present
  ansible.builtin.template:
    mode: 0755
    src: "{{ role_path }}/templates/systemd/mobilizon.service.j2"
    dest: "{{ devture_systemd_docker_base_systemd_path }}/{{ mobilizon_identifier }}.service"
