{#
SPDX-FileCopyrightText: 2023 Julian-Samuel Gebühr
SPDX-FileCopyrightText: 2026 Timofej Luitle

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Mobilizon Server ({{ mobilizon_identifier }})
{% for service in mobilizon_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in mobilizon_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ mobilizon_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ mobilizon_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ mobilizon_identifier }} \
      --log-driver=none \
      --user={{ mobilizon_uid }}:{{ mobilizon_gid }} \
      --cap-drop=ALL \
      --read-only \
      --network={{ mobilizon_container_network }} \
      {% if mobilizon_container_http_host_bind_port %}
      -p {{ mobilizon_container_http_host_bind_port }}:{{ mobilizon_container_http_port }} \
      {% endif %}
      --hostname={{ mobilizon_container_hostname }} \
      --env-file={{ mobilizon_base_path }}/env \
      --label-file={{ mobilizon_base_path }}/labels \
      --health-interval={{ mobilizon_container_health_interval }} \
      --mount type=bind,src={{ mobilizon_base_path }}/config/config.exs,dst=/etc/mobilizon/config.exs \
      --mount type=bind,src={{ mobilizon_data_path }}/uploads,dst=/var/lib/mobilizon/uploads \
      --mount type=bind,src={{ mobilizon_tzdata_path }},dst=/var/lib/mobilizon/tzdata \
      --tmpfs=/tmp:rw,noexec,nosuid,size={{ mobilizon_container_tmpfs_tmp_size }} \
      {% for arg in mobilizon_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ mobilizon_container_image }}

{% for network in mobilizon_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ mobilizon_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ mobilizon_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ mobilizon_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ mobilizon_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ mobilizon_identifier }}

[Install]
WantedBy=multi-user.target
