{% if mobilizon_container_labels_traefik_enabled %}
traefik.enable=true

{% if mobilizon_container_labels_traefik_docker_network %}
traefik.docker.network={{ mobilizon_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if mobilizon_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in mobilizon_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ mobilizon_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [mobilizon_identifier + '-add-request-headers'] %}
{% endif %}

{% if mobilizon_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in mobilizon_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ mobilizon_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [mobilizon_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ mobilizon_identifier }}.rule={{ mobilizon_container_labels_traefik_rule }}
{% if mobilizon_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ mobilizon_identifier }}.priority={{ mobilizon_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ mobilizon_identifier }}.service={{ mobilizon_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ mobilizon_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ mobilizon_identifier }}.entrypoints={{ mobilizon_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ mobilizon_identifier }}.tls={{ mobilizon_container_labels_traefik_tls | to_json }}
{% if mobilizon_container_labels_traefik_tls %}
traefik.http.routers.{{ mobilizon_identifier }}.tls.certResolver={{ mobilizon_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ mobilizon_identifier }}.loadbalancer.server.port={{ mobilizon_container_port }}
{% endif %}

{{ mobilizon_container_labels_additional_labels }}
